:root {
  --dark-color: rgba(0, 0, 0, 0.6); /* Definindo a variável --dark-color */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: var(--dark-color); /* Usando a variável --dark-color */
}
.confetes {
  position: fixed; /* Fixa a posição dos confetes na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Coloca os confetes atrás de outros elementos */
  pointer-events: none; /* Impede que os confetes recebam eventos do mouse */
  display: flex; /* Usa flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

audio {
  position: fixed;
  top: 20px; /* Distância do topo */
  left: 20px; /* Distância da esquerda */
  z-index: 9999; /* Para garantir que o botão fique acima de outros elementos */
} 

.night {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  filter: blur(0.1vmin);
  background-image: radial-gradient(
      ellipse at top,
      transparent 0%,
      var(--dark-color)
    ),
    radial-gradient(
      ellipse at bottom,
      var(--dark-color),
      rgba(145, 233, 255, 0.2)
    ),
    repeating-linear-gradient(
      220deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    repeating-linear-gradient(
      189deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    repeating-linear-gradient(
      148deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    linear-gradient(90deg, rgb(0, 225, 255), rgb(240, 240, 240));
  }
  .birthdayCard {
    position: relative;
    width: 250px;
    height:350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;

  }
  .birthdayCard:hover, .touch-active .birthdayCard {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .15), 0 10px 100px rgba(0, 0, 0, 0.3);
  }
  
/* Estilo da frente do cartão quando o mouse está sobre ele ou houve um toque na tela */
.birthdayCard:hover .cardFront, .touch-active .birthdayCard .cardFront {
  transform: rotateY(-160deg);
}

  
  .birthdayCard:hover .front-text {
    display: none;
  }
  
  /*pode remover se quiser deixar o desenho*/
  .birthdayCard:hover .wrap-deco {
    display: none;
  }
  /**********/

  .birthdayCard:hover .wrap-decoTwo {
    display: none;
  }

  /*pode remover se quiser deixar o bolo*/
  .birthdayCard:hover .plate {
    display: none;
  }
   /**********/

  /*Style the front of the card*/
  .cardFront {
    position: relative;
    background-color: rgb(255, 246, 246);
    width: 250px;
    height:350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
    transition: .4s;
  }
  
  .happy, .toyou {
    position: relative;
    font-family: didot;
    text-align: center;
    backface-visibility: hidden;
    font-size: 30px; 
  }
  
  .happy {
    top:198px;
  }
  
  .toyou {
    top:123px;
  }
  
  .bday {
    position: relative;
    font-family: arial;
    font-size: 30px;
    text-align: center;
    top:163px;
  }
  
  .wrap-deco {
    position: absolute;
    top:-230px;
    left:-200px;
  }
  
  .decorations {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  .decorations:before, .decorations:after, .decorationsTwo:before, .decorationsTwo:after, .decorationsThree:before, .decorationsThree:after {
    content:"";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width:0;
    height:0;
  }
  
  .decorations:before {
    border-top: 40px solid #a30262;
    top:297px;
    left:210px;
    transform: rotate(-5deg);
  }
  
  .decorations:after{
    border-top: 40px solid #0038a9;
    top:288px;
    left:260px;
    transform: rotate(-17deg);
  }
  
  .decorationsTwo:before {
    border-top: 40px solid #9b4f97;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
  }
  
  .decorationsTwo:after, .decorationsThree:after {
    border-top: 40px solid #d60270;
    top:238px;
    left:355px;
    transform: rotate(-40deg);
  }
  
  .wrap-decoTwo {
    transform: scaleX(-1);
    position: absolute;
    top:-230px;
    left:445px; 
  }
  
  .decorationsThree:before {
    border-top: 40px solid #9b4f97;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
  }
  
  .plate {
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: #ff8800;
    left:60px;
    top:213px;
  }
  
  .cake {
    position: absolute;
    overflow: hidden;
    width:100px;
    height: 50px;
    background-color: #9b4f97;
    border-radius: 10px 10px 0 0;
    top:-50px;
    left:15px;
    box-shadow: inset 0 -15px #0038a9, inset 0 15px #d60270; /* cores da bandeira lésbica */
  }
  .cake:before {
    content:"";
    position: absolute;
    background-color: #d60270;
    width:10px;
    height:20px;
    top:5px;
    border-radius:20px;
    box-shadow: 10px 2px #9b4f97, 20px 0px #d60270, 30px 2px #9b4f97, 40px 0px #d60270, 50px 2px #9b4f97, 60px 0px #d60270, 70px 2px #9b4f97, 80px 0px #d60270, 90px 4px #9b4f97;
  }
  
  .plate:before {
    content:"";
    position: absolute;
    background: repeating-linear-gradient(-45deg, #d46220, #d46220 3px, #d46220 3px, #d46220 6px);
    width:7px;
    height: 25px;
    top:-75px;
    left:61px;
  }
  
  .plate:after {
    content:"";
    position: absolute;
    width:1px;
    height: 5px;
    background-color: #333;
    top:-80px;
    left:64px;
  }
  
  
  .flame {
    position: absolute;
    background-color: #cd4b00;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    transform: rotate(-45deg);
    width:15px;
    height:15px;
    opacity:0.7;
    top:-93px;
    left:57px;
  }

/* Estilos para o interior do cartão */
.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

/* Estilo do texto no interior do cartão */
.inside-text {
  position: relative;
  top: -160px;
  transform: scale(0.7);
}

/* Estilo para os desejos de feliz aniversário */
.wishes {
  position: relative;
  top: -125px;
  margin: 25px;
}

/* Estilo para o nome do destinatário */
.name {
  position: relative;
  margin-left: 75px;
  top: -10px;
}
.cake-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca a imagem atrás do bolo */
}

.cake-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}